@use "../base/root";
#level1,
#level2,
#level3 {
  button {
    border-radius: 1rem;
    padding: 0.2rem 2rem;
    margin-right: 1rem;
  }
  button:hover {
    cursor: pointer;
  }
  button:nth-child(2) {
    background-color: root.$blue-color;
    color: root.$grey-color3;
  }
}

#level0 {
  button {
    background-color: root.$blue-color;
    color: root.$grey-color3;
    border-radius: 1rem;
    padding: 0.2rem 2rem;
    margin-top: 0.4rem;
    font-size: 1rem;
  }
}

.flex-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20rem;
}
