@use "../base/root";

#container {
  background-color: white;
  border-radius: 30px;
  border: 10px solid root.$grey-color;
  width: 48rem;
  height: 35rem;
  margin: 100px auto;
  box-shadow: 0px 0px 2px 9px rgba(62, 20, 214, 1);
}

form {
  border-radius: 20px;
}

.hidden {
  display: none !important ;
}

#step-row {
  width: 100%;
  height: 40px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
  // background-color: root.$grey-color3;
  border-bottom: solid 2px root.$blue-color2;

  border-radius: 20px 20px 0 0;
}

.step-col {
  width: 100%;
  text-align: center;
  color: root.$grey-color;
  position: relative;
}

#progress {
  position: absolute;
  height: 100%;
  width: 33%;
  background: root.$blue-color2;
  border-radius: 20px 0 0 0;
  // border-bottom: solid 2px root.$blue-color;
}

#level1,
#level2 {
  margin: 3rem;
  div {
    display: flex;
    width: 42rem;
    flex-wrap: wrap;
  }

  label {
    font-size: 1rem;
    border: solid 1px black;
    border-radius: 0.7rem;
    padding: 0.3rem 0.6rem;
    margin: 0.8rem 1rem 0 0;
  }
  label:hover {
    cursor: pointer;
  }
  span {
    font-size: 1.2rem;
    display: block;
  }

  label:nth-child(1) {
    font-size: 2rem;
    border: none;
    margin: 0;
    padding: 0;
  }
  input[type="checkbox"] {
    color: rebeccapurple;
    display: none;
  }
  input[type="checkbox"]:checked + label {
    background-color: root.$orange-color2;
    border: 1px solid root.$orange-color;
    box-shadow: 0px 0px 1px 1px #f48d69;
  }
  button {
    border-radius: 1rem;
    margin-top: 10rem;
    padding: 0.2rem 2rem;
    margin-right: 1rem;
  }
  button:hover {
    cursor: pointer;
  }
  button:nth-child(2) {
    background-color: root.$blue-color;
    color: root.$grey-color3;
  }
}
