@use "../base/root";

#container {
  background-color: white;
  border-radius: 30px;
  border: 0.8rem solid root.$grey-color;
  width: 48rem;
  height: 35rem;
  margin: 100px auto;
  box-shadow: 0px 0px 2px 9px rgba(62, 20, 214, 1);
  position: relative;
}

form {
  border-radius: 20px;
}

.hidden {
  display: none !important ;
}

#step-row {
  width: 100%;
  height: 40px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
  // background-color: root.$grey-color3;
  border-bottom: solid 2px root.$blue-color2;

  border-radius: 20px 20px 0 0;
}

.step-col {
  width: 100%;
  text-align: center;
  color: root.$grey-color;
  position: relative;
  height: 100%;
  padding-top: 0.4rem;
}
.step-col:nth-child(1) {
  border-radius: 20px 0 0 0;
  background-color: root.$blue-color2;
}

.step-col:nth-child(3) {
  border-radius: 0 20px 0 0;
}
#progress {
  position: absolute;
  height: 100%;
  width: 33%;
  background: root.$blue-color2;
  border-radius: 20px 0 0 0;
  // border-bottom: solid 2px root.$blue-color;
}

#level1,
#level2,
#level3 {
  margin: 3rem;
  position: absolute;
  transition: 0.5s;
  div {
    display: flex;
    width: 42rem;
    flex-wrap: wrap;
  }

  label {
    font-size: 1rem;
    border: solid 1px black;
    border-radius: 0.7rem;
    padding: 0.3rem 0.6rem;
    margin: 0.8rem 1rem 0 0;
  }
  label:hover {
    cursor: pointer;
  }
  span {
    font-size: 1.2rem;
    display: block;
  }

  label:nth-child(1) {
    font-size: 2rem;
    border: none;
    margin: 0;
    padding: 0;
  }
  input[type="checkbox"] {
    color: rebeccapurple;
    display: none;
  }
  input[type="checkbox"]:checked + label,
  input[type="checkbox"]:hover + label {
    background-color: root.$orange-color2;
    border: 1px solid root.$orange-color;
    box-shadow: 0px 0px 1px 1px #f48d69;
  }

  button {
    border-radius: 1rem;
    margin-top: 10rem;
    padding: 0.2rem 2rem;
    margin-right: 1rem;
  }
  button:hover {
    cursor: pointer;
  }
  button:nth-child(2) {
    background-color: root.$blue-color;
    color: root.$grey-color3;
  }
}

#level0 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  position: relative;
  top: 0;
  height: 33.5rem;
}

#img {
  background-image: url(../../img/level0-background.png);
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 18px 0 0 18px;
  background-size: 120%;
  margin: -0.08rem;
  margin-left: -0.15rem;
}

#step-row {
  display: none;
}
