@use "../base/root";
@use "../base/typography";

#level0 input {
  border: 0;
  border-bottom: 2px solid #707070;
  font-size: 1.2rem;
  font-family: typography.$font-medium;
  // margin: 0;
  // padding: 0;
}
.grouping label {
  font-size: 0.8rem;
  opacity: 0.8;
}

.create-account {
  p {
    font-family: typography.$font-regular;
    font-size: 0.8rem;
    margin: 0.5rem 0;
  }
}
#icon {
  display: none;
}

#level0 {
  input:invalid:not(:placeholder-shown) {
    border-bottom: solid 2px red;
  }

  input:focus-visible {
    outline: none;
    box-shadow: none;

    border-bottom: solid 2px root.$blue-color;
  }
}

//   input:valid:not(:placeholder-shown) {
//     border-color: green;
//     border-width: 2px;
//   }
