@use "../base/root";
@use "../base/typography";

.progress-settings {
  background: linear-gradient(to right, root.$blue-color2 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: bottom right;
}
.progress-settings2 {
  background: linear-gradient(to left, #fff 50%, root.$blue-color2 50%);
  background-size: 200% 100%;
  background-position: bottom left;
}

.fill {
  animation: fillup 1s forwards;
}
.unfill {
  animation: unfillup 1s forwards;
}

@keyframes fillup {
  to {
    background-position: bottom left;
    color: black;
  }
}

@keyframes unfillup {
  to {
    background-position: bottom right;
    color: black;
  }
}
