@use "../base/root";
@use "../base/typography";
#form-body {
  background-color: root.$grey-color;
}
#form-body {
  a {
    color: white;
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: solid 2px white;
    padding: 0.5rem 0.6rem;
    border-radius: 2rem;
    background-color: none;
  }
  a:hover {
    cursor: pointer;
  }
  #back-home {
    background-color: transparent;
    border: 0;
    font-weight: 600;
  }
  #back-home:hover {
    cursor: pointer;
  }
}
