$grey-color: #16162a;
$grey-color1: #3f3f50;
$grey-color2: #a5a5ac;
$grey-color3: #e3e3e5;
$green-color: #5be080;
$green-color1: #b9f8b9;
$green-color2: #dffcdf;
$blue-color: #3e14d6;
$blue-color1: #6259fa;
$blue-color2: #cacefc;
$orange-color: #f48d69;
$orange-color1: #ffb591;
$orange-color2: #f8ddce;
